footer {
  display: flex;
  background-color: #222f3e;
  height: 60px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.data {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
